/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: #6c63ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background: pink;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0em;
  color: black;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
